<!--
 * @Author: hucheng
 * @Date: 2020-05-10 17:05:56
 * @Description: here is des
 -->
<template>
    <div id="app">
        <img alt="Vue logo" src="~@/assets/logo.png" />
        <HelloWorld msg="Welcome to Your Vue.js App" />
    </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue';

export default {
    name: 'app',
    components: {
        HelloWorld
    },
    mounted () {
        this.$api.getActivityInfo().then(res => {
            console.log(res)
        })
    },
};
</script>

<style lang="less">
body {
   padding: 0;
   margin: 0;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;

}
</style>
